<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- CSS compiled with Stylus -->
	<link rel="stylesheet" href="styles.css">

	<!-- Google font -->
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	
	<title>TO-DO LIST</title>
</head>
<body ng-app="myModule">

	<div ng-controller="myController as main" id="toDoList">
		<h1>To-do list</h1>
		
		<!-- Add an input to the list -->
		<h3>Add to list:</h3>
		<input type="text" ng-model="main.add" placeholder="What else needs doing?">
		<img ng-click="main.addItemToList()" id="btnAdd" src="images/plus.png" alt="Add item to to-do list">
		<br />
		<!-- Filter through to-do list -->
		<h3>Filter list:</h3>
		<input type="text" ng-model="searchThroughList" placeholder="Search for a specific task">
		<img src="images/search.svg" id="btnSearch" alt="Filter your to-do list">
		
		<!-- Display to-do list -->
		<ul>
			<li ng-repeat="item in main.list | filter: searchThroughList">{{item}}<button ng-click="main.remove(item)" id="btnRemove">Task done?</button>
			</li>
		</ul>
	</div>

	<!-- jQuery library -->
	<script src="scripts/jquery.min.js"></script>	
	<!-- AngularJS library -->
	<script src="scripts/angular.min.js"></script>
	<!-- My JavaScript app -->
	<script src="scripts/app.js"></script>
</body>
</html>