/* general stylings */
body {
  background-color: #00c5cd;
  padding: 20px 0px;
  font-family: Geneva;
}
/* to do list */
#toDoList {
  background-color: #fff;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
  border: 5px solid #088da5;
  border-radius: 20px;
}
/* headings */
h1 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 3.5em;
  margin: 0px;
}
h3 {
  margin: 0px 0px 8px;
}
/* add and filter input fields */
input {
  width: 30%;
  padding: 8px;
  margin-bottom: 20px;
}
/* add button */
#btnAdd,
#btnSearch {
  height: 33px;
  margin-left: 5px;
  position: absolute;
}
#btnAdd:hover {
  cursor: pointer;
}
#btnSearch {
  margin-left: 10px;
}
/* remove button */
#btnRemove {
  margin-left: 10px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #b20000;
}
#btnRemove:hover {
  background-color: #f00;
}
/* list items */
li {
  margin: 5px 0px;
}
